[2014-06-08 01:29] alexdantas opened #11 "bpkg logo!"
So I got excited with `bpkg` and I want it to have a logo.
I mean, `npm` has one, so why can't we?

I made a few attempts, attached here. What do you guys think?
I know they might be crappy, but I'm up to make any changes necessary.
(if you prefer, [here's a link to an imgur gallery](http://imgur.com/a/pPmsZ) with all images at once)

Also, [here's a huge list of fonts][list] that we could use for

[2014-06-10 04:00] alexdantas opened #12 "Bash Discussion"
`bpkg` is a nice initiative, both to stimulate Bash scripting and create a standard way of serving Bash programs.

Here I'll share some interesting links regarding Bash that we might include on the documentation, website or whatever. At least they might be useful for us, Bash beginners.

I hope everyone can join in and discuss more Bash-related stuff.
- [bashlint and ShellCheck for checking Bash s

[2014-07-02 19:35] asm89 opened #16 "Library packages guidelines?"
Just found out about this project. Interesting!

Are there any packaging guidelines for "libraries"? I maintain a smoke testing framework in bash: https://github.com/asm89/smoke.sh, but there's no direct cli you'll call.

[2014-07-04 13:23] juanibiapina opened #17 "package.json format for scripts and binaries"
It seems to me you based your package.json on the npm format: https://www.npmjs.org/doc/package.json.html

But by reading the documentation, the 'scripts' member is used for lifecycle management, not binaries. The 'bin' member is for listing executables that should go to the path.

Did you depart from this format on purpose?

Examples:
https://github.com/sstephenson/bats/blob/master/package.json#L

[2014-09-23 04:37] felixrabe opened #21 "`make link` will fail"
I don't know the `make` syntax well enough (any more) to make `ln -s $(pwd)/$bin ...` happen, but your `Makefile` is missing the `$(pwd)/` part.

[2014-10-27 16:46] thedrow opened #29 "bpkg does nothing when installing my fork of bash-it"
[code]
Produces no results. The installation script is a prompt that asks you which plugins/aliases/completions to enable, Could that be the problem?

[2014-11-21 15:59] jwerle opened #32 "bpkg.io server"

[2015-02-21 14:50] juanpabloaj opened #36 "bkpg --help : basename: invalid option -- 'a'"
when I try `bpkg --help`

[code]

my basename version

[code]

[2015-02-21 15:21] coderaiser commented on #36
Everything works good in my environment.
[code]

`basename` [used in this code](https://github.com/bpkg/bpkg/blob/6c5079c099ee79012cd08457e8133c1b5d07e13f/bpkg.sh#L24) to get list of commands.
[code]

Maybe there is a solution to get this list without use of `basename`?

[2015-02-21 15:36] juanpabloaj commented on #36
I have basename version 8.13

[code]

after this commit (2012-03-04 19:00:36 (GMT))

http://git.savannah.gnu.org/cgit/coreutils.git/commit/?id=a3eb71a98fd195e52d335fb8d6bdc2a719cc2c88

basename get the argument `-a`

[2015-02-21 15:41] juanpabloaj commented on #36
like say @coderaiser maybe a solution is get the list without basename, or in section install of readme file say the dependencies of bpkg: bash version, coreutils version, etc.

[2015-02-21 17:05] jwerle commented on #36
We'd happily accept a PR. We've seen this issue before. I unfortunately do no have the time atm to issue a patch :/

cc @stephenmathieson @ccarpita

[2015-02-21 19:51] #36 closed

[2015-03-26 22:36] awei01 opened #43 "How to require dependencies?"
Hi, sorry if this is a noobish question, but I couldn't find anything in the docs on requiring a dependency.

Is it as simple as setting the `dependencies` block in the `package.json` file?

Suppose I'm writing a script that requires `mcrio/bashsh`. How do I configure my `package.json` to ensure that it will be included when my package is installed?

[2015-03-27 04:57] jwerle commented on #43
We currently do not support it, but we'd happily accept a PR

[2015-03-27 13:02] awei01 commented on #43
Ok, thanks. I disclaim that I'm pretty new to writing bash scripts, though. But, I'll take a crack at it.

Just some thoughts in terms of how to develop this feature:
1. Create a `bpkg-require` function that will update the `dependencies` block in the `package.json`
1. Update the `bpkg-install` to loop through the `dependencies` block and first check if the required package is installed globally.

[2015-05-07 04:20] rylnd opened #44 "Consolidate materials needed for contributing"
In trying to add a project to bpkg, I had to pull materials from several sources (n.b. I'm still not sure that this list is complete/correct):
- [package details](https://github.com/bpkg/bpkg#package-details) section was the only place I found that referenced exactly what a project needed to be compatible with bpkg
- [submission instructions](http://www.bpkg.io/submit/) told me how to get my packa

[2015-05-07 12:12] jwerle commented on #44
+1 for sure. We've needed this for a while

[2015-06-25 12:34] sschuberth opened #45 "Do not depend on make"
Some environments that can run Bash scripts do not ship with `make`, a typical example being the MSYS(2) based environments shipping with Git for Windows 1.x / 2.x. As such it would be nice to get rid of the dependency on `make`, e.g. by moving the targets from `Makefile` to functions in `install.sh`, and simply rely on `bash` instead of `make` to install the files.

[2015-06-25 12:47] ccarpita commented on #45
Agree with the sentiment, as I haven't really been happy about the `make` dependency.  Would be in favor of a PR to remove this.

[2015-06-25 13:43] sschuberth commented on #45
I'll take a look at it. Would you also be fine with renaming the `install.sh` script? Because calling e.g. `./install.sh uninstall` would be a bit odd, IMO. How about `setup.sh` or `bootstrap.sh`?

[2015-06-25 14:54] ccarpita commented on #45
`setup.sh` sounds good to me!

[2015-06-25 17:04] jwerle commented on #45
hehe I love this! LGTM! Good to see @ccarpita in this mix ! :D cc @wellsjo

[2015-06-25 17:08] #21 closed

[2015-06-25 17:08] #45 closed

[2015-07-09 20:26] JacopKane opened #48 "Install methods does not work"
[code]

outputs:
```make: *** No rule to make target `install'.  Stop. ```

and

[code]

outputs:
[code]

[2015-07-10 11:35] jwerle commented on #43
@awei01 that sounds good to me

[2015-07-10 11:36] #16 closed

[2015-07-10 11:36] #11 closed

[2015-07-10 18:04] coderaiser commented on #43
Would be better to separate local and global install to prevent version conflicts, like it npm does.

[2015-07-11 18:06] gregorynicholas commented on #48
docs not updated, installer works, but was moved in a recent commit it looks like..  run this instead:

    url="https://raw.githubusercontent.com/bpkg/bpkg/master/setup.sh"
    curl -Lo- ${url} | bash

[2015-07-13 20:03] JacopKane commented on #48
@gregorynicholas yeah it worked, thanks !

[2015-07-13 20:03] #48 closed

[2015-07-17 06:11] abelsromero opened #49 "Problems with installation instructions from source"
Hi,

I tried to insall from source and when I execute `setup.sh` I get the folowing result

[code]

Env: Win7 + cygwin

[2015-07-17 06:12] abelsromero commented on #49
Btw, instructions here in github and on the site (http://www.gdub.rocks/) are different :crying_cat_face:

[2015-07-17 11:36] ccarpita commented on #49
@abelsromero Out of curiosity is the following directory in your `$PATH` variable? -- `/usr/local/bin` -- We might have to prepend `$PATH` to some of the subshell calls in `setup.sh`

[2015-07-17 14:18] abelsromero commented on #49
Yes, `/usr/local/bin` is in the path. But I don't understand the second part of your comment.
I looked into script and I found those likes quite weird: https://github.com/bpkg/bpkg/blob/master/setup.sh#L47-49

Is it me, or the temp folder is never created and then deleted?

[2015-08-11 11:48] danielbayley opened #50 "Homebrew formula"
…so we could do `brew install bkpg`?

[2015-08-11 12:49] jwerle commented on #50
@danielbayley +1 - I'd love to do it, but I have no time recently :/

[2015-08-20 13:29] nfarrar opened #51 "get.bpkg.io broken?"
get.bpkg.io broken?

    $ curl get.bpkg.io
    <html>
    <head><title>302 Found</title></head>
    <body bgcolor="white">
    <center><h1>302 Found</h1></center>
    <hr><center>nginx</center>
    </body>
    </html>

[2015-08-20 13:33] nfarrar opened #52 "Move ~/.dpkg to ~/.cache/dpkg?"
Would it be possible to make dpkg compatible with the [XDG standard](http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html) and move the `~/.dpkg` cache to `${XDG_CACHE_HOME:-/.cache}/dpkg`? It's *really* nice when applications conform with the standard, as it helps keep `$HOME` uncluttered.

[2015-08-20 13:39] nfarrar opened #53 "User override for 'deps/' directory?"
It looks like the location of `deps` [is hardcoded](https://github.com/bpkg/bpkg/blob/29da5cf07f400b792388b7528668d913b7b9c410/lib/install/install.sh#L339). Would it be possible to make this configurable? Specifically, I'd like to make bpkg-installed dependencies install somewhere outside of `$HOME` (to keep it uncluttered) - specifically I'd like to install them to `~/.local/lib/<pkg>`.

[2015-08-20 15:52] ccarpita commented on #53
Makes sense to me, and sounds like a good idea -- I would approve a PR for this change.

[2015-08-20 15:55] ccarpita commented on #52
:-1: Don't really agree that `~/.cache` is appropriate, as the binary file is necessary for the operation of the script and not really "cache".  Note that you can override the the bpkg install path (I assume `.dpkg` is a typo) using the PREFIX env variable on install.

[2015-08-20 15:56] ccarpita commented on #51
@jwerle I know you don't have time these days, but would it be straightforward to fixup the 302 from get.bpkg.io to point to setup.sh instead of install.sh, or is there anyway I can access this?

[2015-08-20 16:08] jwerle commented on #51
@ccarpita I've updated the dns host record. It should propagate shortly!

[2015-08-20 16:14] jwerle commented on #51
DNS is updated `curl -Lso- get.bpkg.io | bash` should work

[2015-08-20 16:14] #51 closed

[2015-08-20 16:21] ccarpita commented on #51
Thanks @jwerle !   Love those fancy `URL` records :)

[2015-08-20 16:29] nfarrar commented on #52
Sorry, just getting started with bpkg - working on migrating some of my scripts over. To install bpkg, I used the command:

[code]

Which installed the bins to `~/.local/bin/<bins>`. I noticed at the same time that `~/.bpkg` was also created, and when I look in the contents of this directory, I see:

[code]

So I assumed this directory was only used for caching the git index data - which seemed li

[2015-08-20 20:07] ccarpita commented on #52
Makes more sense now, sorry about the confusion.

I agree with the sentiment to use `XDG_CACHE_HOME` to set the cache path for the package index, and would +1 such a PR.

For now, you can work around this by setting `BPKG_INDEX` to something like `$HOME/.cache/.bpkg-index` in your call to `setup.sh`

[2015-08-20 20:08] nfarrar commented on #52
Awesome, thanks!

[2015-09-07 19:44] raindev opened #54 "Installation via clib fails"
[code]

[2015-09-07 20:25] jwerle commented on #54
@raindev Fixed in https://github.com/bpkg/bpkg/commit/90db35f49f3961efd77263d6cbad79e7db03529f

[2015-09-07 20:25] #54 closed

[2015-09-07 20:30] raindev commented on #54
Great, works already, thanks!

[2015-12-03 19:39] fidian commented on #17
It's been a sad year with no updates.  Is there any movement on this issue that I have not seen?  It looks like people are behind a new format and are just deciding what the new format would look like.  I would love to see `package.json` renamed so people don't automatically think the repository is for node.

I'm in favor of the sanitized config files as linked earlier.  Also there was talk about

[2015-12-03 19:46] jwerle commented on #17
@fidian any suggestions on a new format? This would of course invalidate every package out there using `package.json`.

`package.json` isn't just owned by npm. It is used by other package management systems like clib and duo.

cc @stephenmathieson @ccarpita

[2015-12-03 19:52] stephenmathieson commented on #17
i stand by https://github.com/bpkg/bpkg/issues/17#issuecomment-48046444 still :)

[2015-12-03 20:23] jwerle commented on #17
@stephenmathieson +1 :]

[2015-12-03 21:57] fidian commented on #17
@stephenmathieson I am only talking about things I suffered through, not specifically the format of the file.  Please consider scripts that set up repositories in a generic way.  Here's a simplified example:

    git clone http://github.com/whatever/whereever.git
    (
        cd wherever
        git submodule update --init --recursive
        [[ -f composer.json ]] && composer install
        [[

[2015-12-03 22:01] ccarpita commented on #17
I've personally found `package.json` to be a point of confusion, and would prefer to see something along the lines of `bpkg.json` as bpkg "owns" the formatting.  Maybe a crazy idea, but if we also required a dependency on [jq](https://stedolan.github.io/jq/) then using json as a standard configuration format wouldn't be so bad.

[2015-12-17 17:02] keen99 commented on #49
@abelsromero just to clarify what setup is doing (because I was looking at it..)

    TMPDIR=${TMPDIR:-/tmp}
....
    cd "${TMPDIR}"
    echo "  info: Creating temporary files..."
    test -d "${DEST}" && { echo "  warn: Already exists: '${DEST}'"; }
    rm -rf "${DEST}"
    echo "  info: Fetching latest 'bpkg'..."
    git clone --depth=1 "${REMOTE}" "${DEST}" > /dev/null 2>&1
    cd "${DEST}"
...

[2015-12-21 15:00] michelezamuner opened #55 "Specify GitHub URL where dependencies should be downloaded from"
Hi all. Is `bpkg/bpkg.github.io` the only repository where `bpkg` can retrieve packages from? Would it be possible to specify somewhere (like a command-line argument or a gemfile-ish file) that a certain package should be fetched from a specific GitHub URL (with tag and/or branch) instead of the default `bpkg` repository? Thanks!

[2015-12-22 09:15] michelezamuner commented on #55
Looking to the `bpkg-install` sources I saw that it's possible to add new remotes in the `${HOME}/.bpkgrc` file, and that `bpkg` is already configured to look to remote repositories following the `user/name` pattern given to the `install` command, so this issue doesn't need to exist any more.

[2015-12-22 09:15] #55 closed

[2015-12-22 09:48] michelezamuner opened #56 "Installing private packages hosted on bitbucket.org"
I've been trying to get `bpkg` to install a private package hosted on my bitbucket.org account, but so far I couldn't manage to make it work. I added a `${HOME}/.bpkgrc` file with these contents:

    #BPKG_REMOTES=("https://raw.githubusercontent.com")
    BPKG_REMOTES+=("raw-oauth| michelezamuner https://bitbucket.org")

    #BPKG_GIT_REMOTES=("https://github.com")
    BPKG_GIT_REMOTES+=("https:/

[2015-12-22 13:16] michelezamuner opened #57 "Bug during init procedure"
Here:

https://github.com/bpkg/bpkg/blob/master/lib/init/init.sh#LC240

should be `${NAME}`. This causes a "file not found" error at the end of the init procedure.

[2015-12-22 13:29] jwerle commented on #57
@michelezamuner good catch

[2015-12-22 13:31] jwerle commented on #57
Fixed with https://github.com/bpkg/bpkg/commit/7cc8b1e126898853794b0fe4337a985db261765a

[2015-12-22 13:31] #57 closed

[2015-12-22 13:37] jwerle commented on #56
@michelezamuner I think it would be valuable to allow for installation of packages from bitbucket. Can you describe the URL pattern? We would have to modify the following lines https://github.com/bpkg/bpkg/blob/master/lib/install/install.sh#L217-L234

[2015-12-22 14:42] michelezamuner commented on #56
This is the URL for a raw file hosted in a private bitbucket repository:

    https://bitbucket.org/michelezamuner/bpkg-test/raw/master/package.json

Is this what you were asking for?

[2016-01-16 12:09] sobolevn commented on #50
That would be a very nice improvement.

[2016-01-30 21:03] thoward opened #59 "Mismatched versions (0.2.7 vs 0.2.8)"
Currently the `bpkg.sh` specifies `0.2.7` while `package.json` specifies `0.2.8`.

Relevant lines of code:
- https://github.com/bpkg/bpkg/blob/master/bpkg.sh#L10
- https://github.com/bpkg/bpkg/blob/master/package.json#L3

I assume this just needs a version bump in `bpkg.sh` to fix?

[2016-01-30 21:27] jwerle commented on #59
Oops. Yep, exactly.

On Sat, Jan 30, 2016, 4:03 PM Troy Howard <notifications@github.com> wrote:

[2016-01-31 02:34] isaacs commented on #17
So... I get that bpkg is for bash, and npm is for JavaScript.

Funny story.  I have [this bash program](https://github.com/isaacs/nave), which I'm currently putting in npm already (since it's primarily used by Node users), and I'd love to *also* put it in bpkg, since this is a bash thing.

Also, since bash programs are frequently going to be CLI utilities, and npm is frequently used for the same,

[2016-02-01 15:08] jasonkarns opened #60 "benefits over npm?"
Since npm isn't limited to javascript modules (it can install any package of files and works perfectly well for shell utilities and libs), I'm wondering what benefits bpkg has over straight npm?

I ask because I already use npm for a couple bash utilities (like bats, bats-assert and bats-mock) and it works marvelously. (pulling from github arguably makes more sense than publishing the package to n

[2016-02-01 17:20] jwerle commented on #60
Hey @jasonkarns,

No, there isn't a real benefit to using bpkg over npm

[2016-02-01 17:22] jwerle commented on #17
@isaacs I agree. `package.json` was a poor choice now that several bpkg packages exist this creates confusion for people trying to differentiate bpkg from npm. Any suggestions for a new filename?

[2016-02-01 21:05] isaacs commented on #17
I'd suggest a two-fold approach:

1. If `bpkg.json` is present, use that.
2. Else, if `package.json` is present, use that, but handle scripts/bin/etc. using npm's semantics.

Using npm's json semantics is probably a good idea for (1) anyway, if possible, because you take advantage of a lot of documentation and expectations, without having to explain (or invent!) the rationale for the differences.

[2016-02-01 21:56] jwerle commented on #17
@isaacs I like this approach. It ensures backwards compatibility with existing bpkg packages that are using the `package.json` file at the very least. I'l try to have a patch up soon if everyone agrees. cc @bpkg/owners @stephenmathieson @juanibiapina

[2016-02-01 22:13] brock commented on #17
:+1: for `bpkg.json`

[2016-02-01 22:36] juanibiapina commented on #17
Cool!
On Feb 1, 2016 8:13 PM, "Brock Angelo" <notifications@github.com> wrote:

[2016-02-15 20:20] jasonkarns commented on #17
Just dropping in to point out that this is coming to a head soon.

https://github.com/ztombol/bats-core
and https://github.com/ztombol/bats-assert

We (nodenv org) will likely soon be using bats-core and bats-assert for our bats test assertions. nodenv is a bash utility, but for managing node versions. being a bash program, our test suite is in bats. However, we use npm for *managing* nodenv (and

[2016-02-15 20:23] #60 closed

[2016-02-16 08:36] isaacs commented on #17
I agree with @jasonkarns.  Essentially the same use-case as nave, which I mentioned initially: https://github.com/bpkg/bpkg/issues/17#issuecomment-177363443

There is quite a lot of overlap between bash and node programmers, and bash and node programs.  Node is a command line utility, and used for writing command line utilities, and bash is the unix command line.  Any divergence from established p

[2016-02-16 13:02] jwerle commented on #17
@isaacs @jasonkarns Okay, I think with about a year and a half of discussion on this subject, we should move towards implementing the [package.json](https://docs.npmjs.com/files/package.json) specification as much as possible. Global command utilities should be defined with `.bin` and `.scripts => `.files` is an obvious change.

[2016-02-16 23:27] ztombol commented on #17
Hi! Developer of `bats-core` and `bats-assert` here. I'm not familiar with `bpkg`, `basher` or `npm`, but I would love to merge support for them. @juanibiapina has already started working on [`basher` support](https://github.com/ztombol/bats-docs/issues/1), and @jasonkarns on [`npm` support](https://github.com/ztombol/bats-core/pull/2).

If these package managers could share a common manifest spec

[2016-02-17 13:41] fidian commented on #17
I have a concern that npm-specific properties do not overlap with bpkg-specific properties.  For instance, npm uses "dependencies" like so:

[code]

I would not want bpkg to reuse "dependencies" in their spec.  Doing so would pollute the npm's list of dependencies and "npm install" would fail.  Instead, the bpkg-specific dependencies should use their own property.

Here's a bad example so you can

[2016-02-17 13:53] juanibiapina commented on #17
Just to reiterate my opinion, since it has been a while:

I think having two package managers for different languages use the same file name is not a good idea. Imagine the problems we could have if rubygems also used package.json. It would be very difficult to know which entries are used by which tool and how.

Basher and bpkg, on the other hand, could easily share a package format. But if they d

[2016-02-17 21:52] ccarpita commented on #17
If possible, I would retain as many semantics as possible from npm conventions, and still use a distinct file named `bpkg.json`, as it explicitly indicates support for bpkg implementations while avoiding the need for per-field conflict resolution.  It just seems like unnecessary surface area for issues in the future to attempt to maintain partial compatibility with the evolving npm standards.

[2016-02-28 10:43] calvernaz commented on #56
Hi,

@jwerle, @michelezamuner I was able to get the file doing the following steps:

`curl -X POST -i https://bitbucket.org/site/oauth2/access_token?redirect_uri=http://whatever -d grant_type=client_credentials -u key:token`

I had to previously generate the key and secret in bitbucket. From the request above I got the access token which I used in the following request:

`curl -H "Authorization: B

[2016-05-23 19:01] tunnckoCore commented on #53
:+1: i'll send a PR when i can

[2016-05-24 04:03] tunnckoCore opened #64 "uninstall command?"

[2016-06-21 13:38] tunnckoCore commented on #64
bump?

[2016-06-21 14:15] jwerle commented on #64
We'd happily accept a PR or a more detailed approach on how to implement
this

On Tue, Jun 21, 2016, 9:38 AM Charlike Mike Reagent <
notifications@github.com> wrote:

[2016-08-05 05:20] nfischer opened #70 "Global install also does a local install"
Perhaps I'm missing something, but whenever I install a package globally, it also installs it locally:

[code]

Obviously this is not the expected behavior, since I would prefer if it only installs globally when the `-g` flag is used.

[2016-09-13 08:01] edouard-lopez opened #71 "Install Script has permission issue"
I went to the site, copy paste the install script and got this:

[code]

I will investigate

[2016-09-13 08:05] edouard-lopez commented on #71
## Solution

Add `sudo` to run `bash` with enough privileges:

[code]

Now I got:
[code]

[2016-09-13 08:05] #71 closed

[2016-09-13 08:09] edouard-lopez opened #72 "Test your code"
Please test your code using a bash framework such as [bash_unit](https://github.com/pgrange/bash_unit) or [any another you like](https://github.com/awesome-lists/awesome-bash#shell-script-development).

This will improve the **code quality** and **prevent regression**.

[2016-09-13 12:01] jwerle commented on #70
This is a bug! I'm pretty swamped these days. However, we'd happily accept a PR

[2016-09-13 12:10] jwerle commented on #44
@rylnd did we want to create a  file still ?

[2016-09-13 12:12] jwerle commented on #64
possible duplicate of #31

[2016-09-13 12:14] #29 closed

[2016-09-13 13:55] tunnckoCore commented on #64
@jwerle nope, his issue is for uninstalling package, i'm talking for uninstalling `bpkg` from the system.

[2016-09-16 16:27] #70 closed

[2016-09-27 15:23] rylnd commented on #44
Hey @jwerle, sorry for the slow response. I'll reacquaint myself with the project's state and try to get something out this week.

[2016-09-27 16:03] jwerle commented on #44
@rylnd awesome man, sounds good

[2016-09-28 14:51] BenoitHiller opened #74 "Global install and local install do completely different things"
Right now global install doesn't seem to do any of the same steps as a local install.

Local install copies specified files into a deps folder and links the ones you specify into a bin folder.

Global install just clones the repo and runs `make install`(or a different command if you specify one).

If, as a developer, I want to support both I have to either write a standard `make install` task and

[2016-12-17 23:29] joseluis commented on #72
I agree with @edouard-lopez that adding unit tests is important long-term. I personally like [Bats](https://github.com/sstephenson/bats) and [assert.sh](https://github.com/lehmannro/assert.sh) but any would do the job. Also it would be nice to connect the repo with [travis-ci](https://travis-ci.org) for automatic testing.

Also it would be good to review the code quality with [shellcheck](https://

[2017-01-10 01:11] gutierri commented on #64
@tunnckoCore Referring to bpkg itself. What do you think?
`bpkg uninstall [-g] bpkg`

[2017-01-10 13:08] tunnckoCore commented on #64
Maybe yes.

[2017-01-11 01:37] gutierri opened #75 "XDG"
compliance with XDG (ref #52)

[2017-01-11 02:12] gutierri opened #76 "Installing $HOME"
I think I could have a local installation, simple and global. The local installation behaves as dependencies and more staps are required to install.

What do you think?

It could behave like:

`bpkg install term --user` for example

(refs #74 #75 )

[2017-02-20 17:41] szepeviktor opened #78 "Code quality"
Hello!

I've read about shellcheck in #72.

@jwerle Would you welcome a PR about going *shellcheck clean*?

**[EDIT by @Potherca ]**

## The size of the problem

The current scope of Shellcheck violations is:

| File                    | Violations<br>Before MR(s) | Violations<br>After MR #125 |
| ----------------------- | ---------: | ---------: |
| 🆗 lib/term/term.sh        |         35 | 0 |
|

[2017-02-20 22:42] jwerle commented on #78
@szepeviktor yeah lets try it out!

[2017-02-20 22:51] szepeviktor commented on #78
How about?

[code]

[2017-02-20 22:55] jwerle commented on #78
@szepeviktor looks good to me!

[2017-02-20 22:58] szepeviktor commented on #78
OK!

[2017-02-20 23:40] szepeviktor commented on #78
I see number of of eval-s.

Could this `eval "if [ -z "\${$1}" ]; then ${1}='${2}'; fi"` be replaced by line below?
[code]
I couldn't have been the friend of eval 😄

[2017-02-20 23:49] szepeviktor opened #79 "I'd like understand csv()"
https://github.com/bpkg/bpkg/blob/master/lib/init/init.sh#L128-L150

@jwerle Could you please explain this to me? What is the input and what is the output?

I suspect there is a much leaner solution to this.

[2017-02-20 23:53] szepeviktor commented on #78
[code]

[2017-02-20 23:53] jwerle commented on #79
cc @benkogan
sourced from: https://github.com/benkogan/bpkg-init

that bit was originally ported from [here](https://github.com/jwerle/clib-init/blob/master/clib-init.sh#L142)

I'm sure there is a much better way to do that. We'd happily accept a PR !

[2017-02-20 23:56] szepeviktor commented on #79
Could you give me a valid input-ouput pair?

[2017-02-20 23:57] szepeviktor commented on #79
Is "CSV" really JSON?

[2017-02-21 00:02] jwerle commented on #79
@szepeviktor no, it certainly isn't :)
example output is the [package.json](https://github.com/bpkg/bpkg#packagejson) file

[2017-02-21 00:03] jwerle commented on #78
:+1: ditch the `eval` if possible

[2017-02-22 15:06] pepa65 commented on #76
Or you can do: `PREFIX=~ bpkg install term`

[2017-02-26 19:34] gutierri commented on #76
@pepa65 Having an option like pip (--user) by default would be fine.

[2017-02-27 03:55] pepa65 commented on #76
I think it is (was?) supposed to work like that. `bpkg install term -g` does a global install, and without -g/--global it should be local. But the makefile in each package also needs to support this...

[2017-03-13 02:44] pepa65 opened #80 "bpkg show"
When I do `bpkg show pepa65/tldr` I get:
[code]

I would expect/like to see:
[code]

Similarly, `bpkg show readme pepa65/tldr` shows the readme at https://github.com/tldr-pages/tldr and `bpkg show source pepa65/tldr` does something I don't quite understand.

[2017-04-02 19:53] Potherca commented on #53
If no-one else is (still) working on this, I'd like to take a shot at it...

[2017-04-02 21:45] tunnckoCore commented on #53
@Potherca go for it :)

[2017-04-03 09:44] Potherca commented on #78
I've done some code cleanup for `lib/install/install.sh` which can be reviewed in PR #81.

[2017-04-03 13:48] Potherca commented on #53
I've got a first working draft here: https://github.com/potherca-contrib/bpkg/pull/1/files

Once #81 has been merged I plan to open a PR for these changes here.

Until that time, I would be very grateful for any feedback...

[2017-04-04 06:13] Potherca commented on #53
@nfarrar Just to make sure I understand what's expected, are you talking about global install, local install or both?

[2017-04-14 16:11] Potherca commented on #12
At my current employers we were lacking a definitive style guide for BASH so we build one (mostly based on standing conventions): http://guides.dealerdirect.io/code-styling/bash/

I would be interested to see if it is usable for common conventions beyond out company.

[2017-04-14 16:12] Potherca commented on #12
Besides my previous comment I think it would be good to have an page documenting some common conventions and best practices to help people write better BASH scripts.

Using Shellcheck should definitely be on that list! 😸

[2017-04-14 18:57] jwerle commented on #12
@Potherca that sounds great!

[2017-04-19 21:01] aconthea opened #82 "bpkg install failure, basename: missing operand"
Hi,

I am working on a shell project which I want to able to add as dependency using bpkg. Here is the package.json I have.

    {
      "name": "shelob",
      "version": "0.0.1",
      "description": "Bash utilities",
      "install": "utils/install.sh",
      "uninstall": "utils/uninstall.sh",
      "files":[ "shelob.sh" ],
      "scripts": []
    }

But when I try to add it as dependency to an

[2017-04-24 07:09] Potherca commented on #82
The error seems to originate from [install.sh:422](https://github.com/bpkg/bpkg/blob/2a30578d0b931704d96284c37bfa4c52eb0845a1/lib/install/install.sh#L422)

    local script="$(echo ${scripts[$i]} | xargs basename )"

Running the command below will show that the code is _always_ run, despite the array being empty:

    $ declare -a scripts="";for (( i = 0; i < ${#scripts[@]} ; ++i )); do \

[2017-04-24 12:44] Potherca commented on #44
FYI: The package details section was added to the bpkg.io website with https://github.com/bpkg/bpkg.github.io/pull/34.

[2017-04-29 18:56] breneser commented on #82
@Potherca It still errors with the same message even I delete scripts

[2017-04-30 11:53] Potherca commented on #82
It looks like the `$scripts` array is still set to `""`, even if no "scripts" section is present in the `package.json`

I've taken the liberty to open a merge request #83 to resolve this issue.

[2017-05-12 17:47] jhoblitt commented on #82
It isn't a work around for me but adding the `-g` will get past this failure by installing into` /usr/local/bin`.

[2017-06-18 19:41] cha87de commented on #82
I stumbled across this wonderful bpkg software but I'm running into the install bug as well. As the merge request seems to solve at least parts of the problem (no `scripts` tag in package.json) I'm experiencing another bug when more than one elements are listed in the `scripts` array: the elements are not split correctly but occur as one string with line breaks for each element.

The merge request

[2017-06-19 01:21] jwerle commented on #82
@cha87de bpkg is still very much alive. I've been busy and unable to work on it as much as I'd like. feel free to contribute. I'd happily merge a PR

[2017-06-19 11:30] cha87de commented on #82
@jwerle great, here it comes ... ;-)

[2017-06-20 20:31] cha87de commented on #82
@aconthea is the bug finally fixed? Can you quickly validate with the most recent version?

[2017-06-20 20:42] cha87de opened #85 "Travis CI for automated testing"
To avoid bugs like issue #82 travis and continuous integration could help to automatically test the basic functionalities of bpkg. Opinions? PR will follow, in case you agree.

[2017-06-22 12:43] cha87de commented on #85
If you like the idea, please review and merge PR #86.

[2017-06-22 12:43] cha87de commented on #85
To enable travis, further manual actions may be necessary, to allow travis access to the repository.

[2017-06-22 14:21] jwerle commented on #85
@cha87de i'll make you an owner

[2017-06-22 18:11] aconthea commented on #82
@cha87de I actually kind of moved away from bpkg, haven't been using it. I will try this when I get a chance ( hopefully soon)

[2017-06-22 18:13] cha87de commented on #82
@jwerle with the bug fixes it works (same for travis build #85 )

[2017-06-22 18:16] jwerle commented on #82
@cha87de great! closing this now

[2017-06-22 18:16] #82 closed

[2017-06-22 19:05] cha87de commented on #85
@jwerle travis needs access to the repository to fix the build badge in the readme file.
One with write permissions please go to https://travis-ci.org/bpkg/bpkg and enable the repo in travis.
I would be happy to do that of course, if you provide me with enough permissions :-)

[2017-06-23 21:01] jwerle commented on #85
@cha87de I have you write permission, I believe. Let me know if not !

[2017-06-23 21:24] stephenmathieson commented on #85
iirc someone with admin permission has to enable travis. i'll do this now.

[2017-06-23 21:25] stephenmathieson commented on #85
<img width="1046" alt="screen shot 2017-06-23 at 14 25 01" src="https://user-images.githubusercontent.com/571265/27501010-c3d0510a-581f-11e7-91c0-bd374c04a8fc.png">

=]

[2017-06-24 00:42] jwerle commented on #85
:]

[2017-06-24 07:24] cha87de commented on #85
Nice. Now we need a push to the repository to trigger travis.

[2017-06-24 21:08] #85 closed

[2017-06-29 13:07] fluffywaffles opened #88 "http://bpkg.io doesn't redirect to www, and only the www site exists!"
Hey bpkg maintainer(s), this project looks very cool, but unfortunately the link on the top of the repository page points to http://bpkg.io, which doesn't resolve! It would be ideal to have the naked domain redirect automatically to www.bpkg.io, but for now we can at least update the link. Thanks! :100:

[2017-06-29 15:25] jwerle commented on #88
@fluffywaffles auto renewal failed. I'm in the middle of a support request to address this issue. I'll update when it is resolved

[2017-06-29 15:40] fluffywaffles commented on #88
Sounds good! Thanks @jwerle

[2017-07-26 15:02] jwerle commented on #88
@fluffywaffles bpkg.io was lost. we now own bpkg.sh, which makes more sense anyways ;)

[2017-07-26 15:02] #88 closed

[2017-08-08 15:33] mcandre opened #90 "Enhancement: Write bpkg in terms of POSIX sh"
bpkg is amazing, would be great for managing zsh and ksh scripts as well! What do you think of writing bpkg's internals in terms of POSIX sh, so that bash isn't actually required for bpkg? For example, `[[ -f "$CONFIG_FILE" ]]` could be accomplished with `test -f "$CONFIG_FILE"`

[2017-08-08 15:49] jwerle commented on #90
@mcandre i love that idea! we'd happily accept a PR

[2017-08-08 19:24] mcandre commented on #90
:)

As a prototype, I pushed https://github.com/mcandre/shaggy . Functionality is rather basic, but it shows what is possible with pure POSIX sh, and what the syntax looks like. Also features an example of checkbashisms, a linter that helps to warn on the presence of bash-specific code, for projects where you want to distinguish between bash and POSIX sh code.

[2017-08-08 19:58] jwerle commented on #90
@mcandre very nice :]

[2017-08-17 08:36] cha87de opened #91 "Bash Installer broken due to domain change"
The following command doesn't work any more: `curl -sLo- http://get.bpkg.io | bash` - obviously because the domain got lost. Changing to the new domain `http://get.bpkg.sh` doesn't work either, probably because the subdomain is not existing in the DNS server. Can this be fixed please?
Thanks in advance!

[2017-08-17 13:31] jwerle commented on #91
@cha87de fixed!

[2017-08-17 13:31] #91 closed

[2017-08-17 13:48] cha87de commented on #91
Thanks for the fast fix! For consistency reasons, it would be cool to change also the website:
https://github.com/bpkg/bpkg.github.io/pull/40

[2017-10-03 18:02] Potherca commented on #32
Is this still relevant? (Otherwise it might have to be renamed to "_bpkg.sh server_")

[2017-10-03 19:41] jwerle commented on #32
Closing because github is fine enough of a server

[2017-10-03 19:41] #32 closed

[2017-10-03 21:00] jwerle commented on #90
@Potherca sounds good to me. we'd happily accept a PR!

[2017-10-09 13:27] Potherca commented on #53
Before picking up  other issues (mostly QA and cross-platform compatibility issues, specifically #90, #78 and #72) I would like to get my work for this issue finished (either merged or, worst case, thrown away).

Could anyone take a look at https://github.com/potherca-contrib/bpkg/pull/1/files to see if it matches the desired implementation. I'm also waiting for an answer to the question "global i

[2017-11-08 16:14] hydra1983 commented on #43
GH-94 ```__load "${BASH_SOURCE[0]}" "deps/shcore/shcore"```

[2017-11-09 01:48] hydra1983 commented on #74
@BenoitHiller GH-94 the ```break mode``` will take the same steps for both global install and local install

[2017-11-09 01:50] hydra1983 commented on #64
@olstenlarck GH-94 the ```uninstall``` command is supported now. but ```PREFIX``` is not working yet

[2017-11-17 18:06] Pawamoy opened #95 "Unable to find package.json"
I try to install [shellm-shellman](https://github.com/shellm-org/shellm-shellman) with bpkg but I get this error: `error: Unable to find 'package.json' in /home/pawamoy/deps/shellm-shellman`. Besides it seems that the `files` directive is broken, look at these two lines:
[code]
What with the spaces :O ? I end up with that (note the space before lib):

[code]

... and nothing in ` lib`.

Here is my

[2017-11-25 11:32] hydra1983 commented on #76
@pepa65 Without ```-g``` will be installed in ```pwd``` See GH-94

[2017-11-25 11:35] hydra1983 commented on #95
![image](https://user-images.githubusercontent.com/488235/33230089-6d6a8a0e-d1a2-11e7-81aa-4d583351799f.png)

Seems there is no ```package.json```, only one file named ```package.sh```

[2017-11-25 11:51] hydra1983 commented on #53
@nfarrar See GH-94

[2017-11-25 11:57] hydra1983 commented on #56
@michelezamuner You may try GH-94, but I have not got bitbucket tested yet.

[2017-11-25 11:58] hydra1983 commented on #43
@awei01 Should this issue be closed?

[2017-11-25 12:20] Pawamoy commented on #95
Yes, I removed it since then... I will put it back so we can reproduce

[2017-11-26 03:17] #43 closed

[2017-11-29 21:00] hugot opened #96 "Empty installation folders?"
Hi there, first of all, great initiative, I love the idea of having a package manager for bash! I installed bpkg today and decided to try it out on a project. I used `bpkg init` to initialize the project and then decided that it would be nice to try out shpec. I then issued the command  `bpkg install rylnd/shpec`, which resulted in `    info: Install /rylnd/shpec/master from remote https://raw.git

[2018-01-19 23:06] Potherca commented on #95
The `files` problem seem to be caused by a bug that was introduced when I did a cleanup in #81.

The `Unable to find 'package.json'` occurs when `bpkg` tries to install the sub-dependencies (dependencies of the main package being installed).  As a message to clarify this is not given it looks like something has gone wrong.

I have opened a MR (#99) to fix these issues.

[2018-01-19 23:06] Potherca commented on #96
This problem seem to be caused by a bug that was introduced when I did a cleanup in #81.

The [`package.json` of `rylnd/shpec`](https://github.com/rylnd/shpec/blob/master/package.json) states that the package should be installed globally. Because of accidental breakage `bpkg` tries to install the package locally, which fails because of another accidental breakage (which also caused #95).

I have o

[2018-01-25 20:49] mbl-35 opened #100 "Extends bpkg compatible packages"
It would be great if the install et getdeps process could be extended to find a bpkg repo.
I mean, not only to search about a **package.json** or **Makefile**, but also a **bpkg.json** metadata file decription file (set before searching for package.json).
This is actually the only restriction (with @hydra1983 new features for gitlab target) why I can't use bpkg in a project (with composer and npm.

[2018-01-25 21:19] Potherca commented on #100
There's a discussion answering this question here: https://github.com/bpkg/bpkg/issues/17

I'd also like to have `bpkg.json` rather than `packages.json`.

[2018-01-26 09:02] mbl-35 commented on #100
Thank's for that informations.
Is that project still active ? There is only few commits still one year...

[2018-01-26 18:21] jwerle commented on #100
@mbl-35 yes it sure is. I'm happy to send invites for those interested in actively driving this project forward. I'm pretty occupied these days, but still very happy to participate in the conversation!

[2018-02-02 16:13] #95 closed

[2018-02-02 16:14] #59 closed

[2018-03-14 13:48] Potherca commented on #96
Fixed in #99

[2018-03-14 13:48] #96 closed

[2018-04-04 08:51] andkirby opened #101 "It seems no way to install bpkg/github on Windows"
Copy of https://github.com/bpkg/bpkg.github.io/issues/28

[code]
Or may there is another way to run `make` with some tools?

[2018-04-04 10:59] andkirby commented on #101
I was using GIT bash for Windows (2.x).

Now I use `git version 2.16.2.windows.1` (PortableGit-2.16.2-64-bit).

I've tried to use `make` binaries:
https://sourceforge.net/projects/ezwinports/files/make-4.2.1-without-guile-w32-bin.zip/download

Seem, it can be installed. But still doesn't work within GitBash for Windows.

I guess, that's a common issue.
I've tried to install [`wifi`](http://www.bpk

[2018-04-21 14:49] Cj-bc commented on #50
Hello, I've made a Home-brew formula of bpkg just for my purpose.
If you let me do, I'll make a PR to homebrew-core contains bpkg formula
here's my formula
[Cj-bc/homebrew-bpkg](https://github.com/Cj-bc/homebrew-bpkg)

I'm sorry for my rude English and source-code...

[2018-07-04 11:40] vicentebolea commented on #76
@hydra1983 I believe that what @gutierri  and @pepa65  means is being able to install in `$HOME` by default.
Something like `PREFIX=~ bpkg install term` could be much more easily understood as `bpkg install -u/--user term` similarly to how it works with `pip`

+1

[2018-07-29 06:44] joelwallis opened #103 "Is bpkg compatible with Homebrew?"
I was just looking for a Bash package manager when I found bpkg. Seems like an interesting project to use and contribute. However, I'm curious if it's compatible with [Homebrew](https://brew.sh/), since it seems to use `/usr/local/bin` and Homebrew claims `/usr/local` entirely to store its files and packages.

[2018-07-30 00:30] josegonzalez opened #104 "bpkg.sh site is down"

[2018-07-30 11:33] Potherca commented on #104
Looks like the domain name has expired and been scooped up by squatters.

I think we need to ping @jwerle for this.

[2018-07-30 11:56] jwerle commented on #104
Fixed!

[2018-07-30 11:56] #104 closed

[2018-08-01 20:04] drefixs opened #106 "Problem with package.json that has not only one name"
i have the next packege.json file
[code]

And i have install like this
[code]

[2018-08-01 20:09] drefixs commented on #106
pls review and merge this fix to solve this bug #105
:)

[2018-10-28 02:15] Cj-bc commented on #106
Hello, I've got the same problem so I'm happy to your PR ;)
I hope this will be merged sooner...

[2018-11-28 15:05] jasonkarns commented on #17
I have also reversed my opinion and now agree with what @juanibiapina and @ccarpita are saying above. New file (perhaps new format, whatever works for bpkg and basher), but hopefully using the same keywords and names with npm's semantics (simply to leverage well established naming conventions).

[2018-12-20 10:18] scones opened #108 "better publishing method"
The current method relies on:

- github and pull requests
- ruby (and rake)

while i don't want to use ruby stuff to write modules, i also don't want to install git on deploy target machines.

those are unnecessary dependencies.

[2019-06-25 23:43] jasonkuhrt opened #109 "nest package in subfolder"
We would like to keep multiple packages in a single repo (mono-repo). To achieve that we would need `bpkg` to be able to install from sub-folders of a repo, rather than assuming the whole repo is a single package.

Example:

[code]

[2019-07-25 15:29] vogler opened #110 "clib install fails: unable to fetch clibs/opencollective:package.json"
[code]

[2019-07-27 08:54] Potherca commented on #110
We seem to be running into the `package.json` being a shared asset between NodeJS and BPKG.

OpenCollective is a Node dependency, which is why clib can't find it.

As we're not actively using OpenCollective, I'll remove it from the `package.json` and make sure it is not added until we've moved to a non-shared dependecy/package file.

[2019-07-27 09:22] #110 closed

[2019-07-27 09:27] Potherca commented on #110
Fix has been released as [`v0.3.1`](https://github.com/bpkg/bpkg/releases/tag/0.3.1)

Thanks for reporting this, @vogler!

[2019-07-27 09:50] Potherca commented on #106
Closing issue as it has been resolved by MR #105

Release as part of [v0.3.1](https://github.com/bpkg/bpkg/releases/tag/0.3.1)

[2019-07-27 09:50] #106 closed

[2019-07-27 10:38] Potherca commented on #17
As (ab)using `package.json` is already causing problems.

The most vocal contributors in this thread all seem to agree (also) having a `bpkg.json` is a good idea.

So, moving forward, support for a `bpkg.json` needs to be added.

Both @fidian and @isaacs suggest an approach I wholeheartedly support:

And

So:

- if a project has only a `package.json`, that is used
- if a project has only a `clib.j

[2019-07-27 12:34] jwerle commented on #17
@potherca I would love to see a PR for this 😉

[2019-07-28 10:36] vogler commented on #110
Thanks for the quick fix!

[2019-08-06 17:29] jwerle commented on #17
we've successfully done this for clibs by preferring `clib.json` and falling back to `package.json` if it exists! Would love to see it here as well

[2019-08-07 09:05] Potherca commented on #17
I'm hoping to give BPKG some love soon, but I can't give any guarantees _yet_. 🤞

[2019-08-18 20:41] Potherca commented on #72
Just opened #112 to add tests to `getdeps`

[2019-08-20 20:49] Potherca commented on #72
Started work for `utils` in #113

[2019-09-09 20:07] SidIcarus commented on #17
@Potherca I'm going to take a gander at adding support for `bpkg.json`

@jwerle Would you be to link me, or point me in the right direction, to where this was done for `clibs`. Although I think I know what the logic would look like, having a reference wouldn't hurt. :)

[2019-09-09 20:40] jwerle commented on #17
@SidIcarus take a look over here https://github.com/clibs/clib/blob/next/src/clib-install.c and here https://github.com/clibs/clib-package/tree/next

[2019-11-12 19:36] reelsense opened #115 "Installing packages with ssh auth"
### Feature request and a question:

There doesn't appear to be any detection of git ssh URI. When I pull from my private repositories I use a hardware GPG key as my git ssh authorization, since there is no easy way to exfiltrate the key. Can you add support for passing the raw ssh git URI and let git do the rest?

`git@github.com:bpkg/bpkg.git`
  **vs**
 `https://github.com/bpkg/bpkg.git`

Is the

[2019-11-14 19:43] reelsense commented on #115
https://github.com/bpkg/bpkg/pull/94 Looks like it could solve my problem by allowing me to install from the local filesystem, sort of like the ports system.

[2019-11-16 17:53] Potherca commented on #12
Closing this issue as the deliverable is not clear and activity for this issue is low.

Feel free to re-open this issue or open a new one with a more clear objective or plan.

[2019-11-16 17:53] #12 closed

[2019-11-16 18:13] Potherca commented on #79
Closing due to lack of activity.

[2019-11-16 18:13] #79 closed

[2019-11-16 19:45] Potherca opened #116 "Split pull-request #94 into smaller parts"
Pull request #94 has some nice feature implementations.

In its current state, however, the PR has too many changes to be merged all at once.

To make it possible to split the workload, separate  pull-request should be created (based on the code in #94) for the following features:

<sup>The order of these items is currently semi-random.</sup>

- [ ] **Add `bpkg-logging` script**
  `bpkg_error`, `b

[2019-12-05 12:05] jclaveau commented on #76
In Ubuntu (19.04 at least) ~/.profile contains

[2019-12-05 12:09] jclaveau commented on #76
In Ubuntu (19.04 at least) ~/.profile contains
[code]

And using `.local` is first cleaner for your $HOME dir and is also more used by other programs:
[code]
[code]

[2019-12-05 12:11] jclaveau commented on #76
Also, instead of adding an option, the target dir could be related to the user which is installing bpkg:
- root => /usr/local/bin
- $USER => $HOME/.local/bin

[2019-12-10 14:28] gutierri commented on #76
That sounds good, but I don't know if I would still follow the project proposal. because it would have to change how to install packages in the current directory (PWD)

From: Jean Claveau
Sent: Thursday, December 5, 2019 9:11 AM
To: bpkg/bpkg
Cc: gutierri; Mention
Subject: Re: [bpkg/bpkg] Installing $HOME (#76)

Also, instead of adding an option, the target dir could be related to the user which i

[2019-12-11 10:04] jclaveau commented on #76
@gutierri What I suggest is only applied when the `-g` option is passed as you can see in the related PR:
https://github.com/bpkg/bpkg/pull/117

Behavior while installing in `pwd` remains exactly the same, whoever your are installing the package as.

[2020-01-12 20:31] #76 closed

[2020-01-15 09:18] seybi87 opened #118 "bpkg install is broken since #76"
Hi guys,

I tried to install bpkg via the install script in a docker container with the Ubuntu:16.04 image (as root user)

`curl -Lo- "https://raw.githubusercontent.com/bpkg/bpkg/master/setup.sh" | bash`

The install fails due to several issues:

1. It seems there is an error in the bash script:
`bash: line 64: [: ==: unary operator expected`

2. After fixing this issue manually it seems that the

[2020-01-15 09:50] seybi87 commented on #118
And one additional issue:

By calling bpkg via the absolute path `/root/.local/bin/bpkg` the following error message shows up:
`error: Missing bpkg-json dependency`

[2020-01-15 14:12] jwerle commented on #118
Hi @seybi87,

Thanks for reporting this issue!

This is a simple fix and should be addressed in #119 (and #120)

I can't seem to reproduce this in any sensible way. Can you please advise so we can work towards a solution?

[2020-01-15 15:58] Potherca commented on #118
Regarding these issues:

All these issues happen because the `$USER` variable is empty.

1. The fact that `$USER` not quoted (in ` if [ $USER == 'root' ]; then`) and the empty `$USER` causes the "unary operator expected" error.

2. As `$USER` is empty, `$USER` does not match `root`. Hence the install prefix is set to `$HOME/.local`, As `$HOME` _is_ set, we end up in `/root/.local/bin/bpkg`.

3. As

[2020-01-15 17:26] seybi87 commented on #118
Hi guys,
thanks for the quick responses.

If have just tried the latest install script on a frsh ubuntu:16.04 container.

@Potherca  per default there is not USER variable set at all and in consequnece the install script still causes problems as bpkg is not set into the path and in consequnece the ` bpkg-json dependency` will be missing as well (@Potherca  as you pointed out correctly). See the ou

[2020-01-15 18:48] Potherca commented on #118
No, it is not. The `$USER` is guaranteed to be set (in fact, in some distros it doesn't even exist).

Yes, it is. The usage of `$USER` is an oversight (or edge-case) that will have to be addressed to fix this issue.

[2020-01-16 10:32] cha87de commented on #118
The integration into the (already existing) travis-ci build could use shellcheck, e.g.
https://github.com/cha87de/bpkg/blob/master/.travis.yml

I would be happy to open a PR for that change, but the shellcheck currently fails :-/
https://travis-ci.org/cha87de/bpkg/builds/637883936

[2020-06-02 09:57] francescobianco opened #121 "SSL for get.bpkg.sh"
If I try to install with CURL from HTTPS it still pending because no HTTPS is supported

[code]

not work by HTTPS protocol

[2020-06-30 17:47] jwerle opened #122 "Future of bpkg"
As I look through the issues, the open pull requests, and the overall state of `bpkg`, I wonder: _Where to from here?_

This project was able to see some corporate sponsorship through committed hours, but those days are long gone, and it has become difficult to give the much deserved attention to bpkg over the years. I find myself with new energy and time to be able to commit again.

Issues I thin

[2020-06-30 18:49] Potherca commented on #122
Some thoughts:

- I suffer from a similar affliction where I would love to contribute but do not always have as much time to spend as I would like.

- Something I tried to put my effort in _first_ is writing tests. The reason for this is that, in its current state, it is too easy to accidentally break things or create unwanted side-effects when making the code adhere to shellcheck rules.
 (I'd gla

[2020-06-30 19:22] Potherca commented on #121
Until this is resolved, the best workaround is to curl to the source, as `http://get.bpkg.sh` is basically just a redirect:

[code]

[2020-07-01 16:50] vipyne commented on #122
I echo @Potherca and @jwerle it's at the top of your list- tests.  I'm happy to help write some (because I really want to run shellcheck) but I'm unsure of the best format or framework.  Once a framework is in place and a test or two is written, it could be a great low hanging fruit / first issue for other contributors to add more tests.

[2021-01-01 12:13] Potherca commented on #118
Closing this issue as it has been resolved through #119 and #120.

It will be released as part of v0.3.2.

[2021-01-01 12:13] #118 closed

[2021-01-01 13:21] Potherca commented on #78
As pointed out (yet again) in #123 we need some sort of plan on how to attack resolving the (currently) 207 Shellcheck violations in the code-base.

Besides a one-file-at-a-time approach (fix a file, and then add a CI check for just that file), we could also already fix the following low haning fruit:

- [SC2004](https://github.com/koalaman/shellcheck/wiki/SC2004)
- [SC2053](https://github.com/koa

[2021-01-03 20:44] Potherca commented on #122
Creating (more) tests won't be something I will be able to work on in the near future, as that is a high-energy effort for me.

But, prompted by @szepeviktor recent comments, I've taken a first step towards resolving our shellcheck violations, by indexing the problem in https://github.com/bpkg/bpkg/issues/78#issuecomment-753315811. I hope to add incremental MRs (to at least bring the number of vio

[2021-01-10 13:54] Potherca commented on #122
Just opened #125 which makes a start fix all Shellcheck violations.

[2021-01-10 14:12] Potherca opened #126 "Calling all Admins! Who's still on board?"
Currently, the BPKG org has 22 admin users. Looking at the (lack of) contribution, should we bring that number down to active members?

Or at least move people into groups so it is more clear who can be counted on for review/merge/etc?

Maybe everyone could respond as to whether they are still interested in being part of BPKG?

To be clear: I am not looking to push people out of the org, this is a

[2021-01-10 14:21] jwerle opened #127 "Discord Chat?"

[2021-01-10 14:21] jwerle commented on #127
I've gone ahead and set up a Discord for bpkg here: https://discord.gg/qZcwVUUF

[2021-01-10 15:13] stephenmathieson commented on #126
I do not need to be an admin.

[2021-01-10 17:46] francescobianco commented on #126
I would like to keep the Admin status, I know that for this year I cannot actively contribute, unfortunately due to the pandemic I had to reduce the work on LCOV, but I hope soon to be 100% on BASH and LCOV again.

[2021-01-10 21:46] juliangruber commented on #126
I do not need to be an admin either 🙇

[2021-01-10 21:47] brock commented on #126
I do not need to be an admin either. Happy to continue on as part of the team, but smart for you to be reducing the controls. 👍

[2021-01-11 01:53] wellsjo commented on #126
you can take me off admin as well

[2021-01-11 02:34] bcomnes commented on #126
Stay on, not admin.

[2021-01-11 04:29] yorkie commented on #126
Stay on, not admin.

[2021-01-11 16:32] rylnd commented on #126
I'd like to stay in the org for the possibility of contributing, but I don't need to be an admin 👍

[2021-01-11 17:50] humanshell commented on #126
i do not need to be an admin

[2021-01-11 18:03] Prash74 commented on #126
I do not need to be an admin

[2021-01-11 19:29] vipyne commented on #126
I'd like to stay on, but do not need to be admin.

[2021-01-12 05:54] benkogan commented on #126
I can be removed from admin as well. Thanks!

[2021-01-12 10:54] yields commented on #126
Same, I can be eliminated :)

[2021-01-12 22:17] ccarpita commented on #126
I can be removed as well, thanks!

[2021-01-16 15:52] Potherca commented on #126
Thanks to everyone who has responded thus far!

Friendly reminder to @agrathwohl, @alexdantas, @heapwolf, @isaacs, @jb55, and @rauchg to respond if they are able.

[2021-02-04 08:40] andkirby opened #129 "Showing help takes too long time"
Few moments ago installed `bpkg` by command:
[code]
So, what we have...
[code]
As you can see  there is too many time.

My OS: Windows, shell: GitBash from the box of git 2.8.0.windows.1.

[2021-02-04 10:48] Potherca commented on #126
After two weeks grace period since my previous message, I have concluded the following actions:

- All [organization members](https://github.com/orgs/bpkg/people) have been given role "Member", except for @francescobianco @jwerle and myself (@Potherca) whom have been given roll "Owner"

- Three teams have been created (to make it easier to draw the attention of certain groups of people):
   - @bpk

[2021-02-17 14:51] NNBnh commented on #127
Help! the link is expired.

![Screenshot_2021-02-17 Discord - A New Way to Chat with Friends Communities](https://user-images.githubusercontent.com/43980777/108221045-f1f80480-7169-11eb-95eb-799d551f9109.png)

[2021-02-18 07:11] NNBnh opened #130 "Bug: pathspec 'master' did not match any file(s) known to git"
<b>
<kbd>EDIT BY MAINTAINERS:</kbd>

Because of the recent trend of renaming a repository's `master` branch to `main`, users of BKPG might encounter this error:

We have acknowledged this is a serious bug which should be addressed as soon as possible. Please bear with us while we sort out a solution.

The current workaround is to explicitly specify the branch name when installing:

[code]
</b>

 -

[2021-02-18 07:52] Potherca commented on #127
@NNBnh Oh noes! :fearful: Looks like the link had an expiration date. I've created a new link without expiration date: https://discord.gg/c5mvG3czUd and edited the link in @jwerle's comment.

Thank you very much for bringing this to our attention, much appreciated!

[2021-02-18 08:05] Potherca commented on #130
Hi, Thank you for taking the time to report this issue!

It looks like the problem is caused because BPKG has [`master` hard-coded as default branch](https://github.com/bpkg/bpkg/blob/HEAD/lib/install/install.sh#L242) if no version constraint has been provided when `bpkg install` is called. As `NNBnh/bfetch` uses the more contemporary convention of having `main` as default branch, the `git clone`

[2021-02-18 15:22] jwerle commented on #127
@Potherca thank you!

[2021-02-18 15:40] jwerle commented on #130
@Potherca what are your thoughts on support both `master` and `main` as default branches? We could try `master` falling back `main` or vice versa

[2021-03-04 08:33] NNBnh opened #131 "Feature request: install multiple packages with one command"
Hello, i'm the developer of [SBB (SuperB Bootstrap)](https://github.com/NNBnh/superb-bootstrap) and i would like to add BPKG package manager support to [SBB setup script](https://github.com/NNBnh/superb-bootstrap/issues/5). But after looking around, their seem to be no way to install multiple package in one command with BPKG like this:

[code]

Do i missing something? Help...

[2021-03-12 12:05] Potherca commented on #130
I'll have to run some tests, but if we can't get away with not specifying a branch or version constraint, I'd say going for `master` and then `main` as a fallback is the sanest approach.

[2021-03-14 14:28] #126 closed

[2021-03-19 15:59] Lohn opened #133 "Change test suit to ShellSpec"
"ShellSpec is a full-featured BDD unit testing framework for dash, bash, ksh, zsh and all POSIX shells that provides first-class features such as code coverage, mocking, parameterized test, parallel execution and more."
Excerpt from https://shellspec.info/

In my experience, ShellSpec is more complete and easy to use than BATS.
And ShellSpec supports POSIX shells and not only bash.

I don't know i

[2021-03-24 10:21] Potherca commented on #133
There is in fact an issue requesting that BPKG be rewritten in POSIX cimpliant terms. (see #90). I am very much in favor of that issue and have already done some work in the past to try to reach that goal.

I hadn't heard of ShellSpec. Usually I get a bit irked when _yet another_ project is created to fix the same problem (i.e. unit-testing in BASH), but after reading the well-though out [_"Why I

[2021-03-24 10:25] Potherca commented on #131
Hi! You didn't miss anything... BPKG currently does not support installing multiple packages in one call. It would be a cool feature to have, though!

[2021-03-24 12:16] jwerle commented on #133
@Potherca wow! shellspec is quite feature-full! It does look promising and indeed this is a good time to pick a framework and go. I am all for it 👍🏼

[2021-03-24 14:15] Potherca commented on #133
@Lohn I'd say your motion has been [seconded and carried](https://www.answers.com/Q/What_does_motion_carried_mean)!

[2021-03-25 03:01] Lohn commented on #133
This makes me very happy! I really appreciate shellspec.

[2021-03-25 08:32] francescobianco commented on #133
I have looked at ShellSpec with a lot of interest, I can say that it is an impressive work, which really takes your breath away.
Not only the product but also the developer who made the big contribution has some really captivating projects:

- <https://github.com/ko1nksm/getoptions> (The calm in the getopt/s war)
- <https://github.com/ko1nksm/readlinkf> (Portable readlink)

I also think it is an e

[2021-03-26 10:50] Potherca commented on #133
I'll leave this issue open for now, until we have documented that ShellSpec is our weapon of choice for unit-testing. (We need to create a `CONTRIBUTING.md` anyway, so this is another nice incentive to get that done :smirk: )

[2021-03-26 13:57] ko1nksm commented on #133
Hello, everyone.

@Lohn Thank you for suggesting ShellSpec.
@jwerle Thank you for inviting me to this great project.
After looking around at this project, I would like to join in this project.

My goal is to sublimate (POSIX-compliant) shell script into a real programming language. For this purpose, a package management system like npm for developers is essential. As long as bpkg aims to be POSIX-

[2021-03-28 14:56] ko1nksm commented on #133
Done

[2021-05-05 22:47] kirtfitzpatrick commented on #122
I came to bpkg looking for a library that would let a script that depends on a library to pin itself to a particular version. bpkg exceeded my wildest expectations for a bash package manager and I'm totally sold on it yet it's ability to pin a script to a particular library package version doesn't work that well for me.

In our use case we have many bash scripts for various purposes in a repo. And

[2021-05-07 13:47] jwerle commented on #122
I love the idea! We'd happily review a PR

[2021-05-08 00:13] kirtfitzpatrick commented on #122
Awesome. I may be able to get time assigned to this at work, or I may take a stab at it on a weekend. Do you have any thoughts on the architecture or could you point me towards any package managers out there that implement this in a way we may want to mimic?

Thanks!

[2021-05-25 19:47] jwerle commented on #122
@kirtfitzpatrick at this point I am open to anything. bpkg is a very simple poor mans copy and paste tool that does not do anything fancy for package version resolution, deduping, hooks, etc. What are you thinking?

[2021-08-13 05:37] sinkcup opened #135 "docs: copy command wrong"
![image](https://user-images.githubusercontent.com/4971414/129309869-b0adf5ed-8a9d-453c-af9c-a052c3656584.png)
![image](https://user-images.githubusercontent.com/4971414/129309969-0b9be6c1-5b11-444d-af69-6b8380dcdb75.png)

if click the copy icon, result will be wrong.

[2021-08-14 02:07] sinkcup opened #137 "package.json or bpkg.json"
![image](https://user-images.githubusercontent.com/4971414/129431282-aa68678a-c13e-4316-86f0-8e9eb5a33e44.png)
![image](https://user-images.githubusercontent.com/4971414/129431270-27e595b6-79fd-44a2-ad7a-d48b7f5f7d8f.png)
![image](https://user-images.githubusercontent.com/4971414/129431289-2f3eccc9-a47d-4ac4-ad76-1147b249a1cb.png)

[2021-08-15 12:36] Potherca commented on #135
Resolved in #136

[2021-08-15 12:36] #135 closed

[2021-08-15 12:40] Potherca commented on #137
Looks like this was caused by the work for supporting `bpkg.json` was merged to the `develop` branch (for preliminary testing) but not yet released to master. The documentation changes _were_ already released, causing this confusion.

I think the best way to resolve this would be to merge the changes (from #132) into master...

[2022-01-07 23:42] francescobianco commented on #130
I hope it goes as solution for the problem <https://github.com/bpkg/bpkg/pull/138>

[2022-01-12 15:39] jwerle commented on #130
@Potherca @francescobianco is this safe to close?

[2022-01-12 19:55] Potherca commented on #130
It think it dependes on whether we also need to do other work, beyond the install, for the whole `main` vs. `master` thing. Not sure, currently.

[2022-01-13 09:44] francescobianco commented on #130
I just create a public test for installing NNBnh/bfetch please review

- <https://replit.com/@frabik/BPKG-Testing-issue-130#main.sh>

It works PERFECT!!!
@NNBnh @jwerle @Potherca
For me the issue could be closed

[2022-01-13 12:04] jwerle commented on #130
wonderful!

[2022-01-13 12:04] #130 closed

[2022-02-09 21:56] francescobianco opened #139 "Array against POSIX"
Actually, the BPKG_REMOTES variable around the project is used as Array, this is hard to convert into POSIX compliant solution due to missing of good array management into shells like Dash or any other POSIX-sh.

To work it around we can use a comma ',' separated list into a standard string variable

[code]

become

[code]

What is your opinion about it?
After my last revision of `install.sh` this

[2022-02-10 10:07] Potherca commented on #139
I'm for it. :+1:

[2022-02-10 13:35] jwerle commented on #139
same here 👍🏼

[2022-03-21 21:18] kirtfitzpatrick commented on #122
@jwerle Ah sorry. Soon after posting here last year I switched to a different project in TypeScript. ¯\_(ツ)_/¯ I still love the bpkg project and still use and maintain my 'chap' module regularly. Perhaps someday...

[2022-03-21 21:31] jwerle commented on #122
no worries! This is OSS and it takes it sweet time to get anything done 😅

[2022-03-25 13:59] jwerle commented on #17
we've finally done it - we moved to `bpkg.json`

[2022-03-27 14:50] Potherca commented on #137
Closing this as #132 has been merged (via #140).

It should be `bpkg.json` everywhere. Any mention of `package.json` other than as an extra/backward-compatible option should be considered incorrect/outdated.

[2022-03-27 14:50] #137 closed

[2022-03-27 14:54] Potherca commented on #53
Closing this as it has been implemented in #140

You can now override where dependencies are installed on a _per-project basis_ by setting  `BPKG_DEPS` (which is `./deps/` by default).

[2022-03-27 14:54] #53 closed

[2022-03-27 14:56] #17 closed

[2022-03-27 15:17] Potherca commented on #116
Marked this as completed:

As it has been implemented in v1 as `BPKG_DEPS`

[2022-03-27 15:23] Potherca commented on #121
@jwerle Is there much work involved to set up SSL for `get.bpkg.sh`? And/Or is there any way I can assist?

[2022-03-27 15:27] Potherca commented on #44
Closing this for now. If it is still an issue, it can be reopened.

[2022-03-27 15:27] #44 closed

[2022-03-27 15:46] Potherca opened #142 "JSON Schema definition and bpkg.json documentation"
Now `bpkg.json` has been implemented, we might want to add more documentation regarding the allowed/accepted keys and expected values.

It would also be helpful to have a [JSON-Schema](https://json-schema.org/) definition, to allow auto-completion and validation of `bpkg.json` files in other tools, editors and IDEs.

## JSON Schema

We could also quite easily generate a JSON-Schema and manually ad

[2022-03-27 16:28] francescobianco commented on #121
Today my solution for a similar project was based on a Caddy server used as a proxy in a cheap VPS

This is the codebase for the proxy
https://github.com/javanile/ionos-proxy

This is a project using the proxy
https://github.com/javanile/binst.tk

[2022-03-27 21:31] Potherca commented on #78
Closing this, as the work by @szepeviktor @jwerle and myself has made all files pass Shellcheck. :tada:

All add a follow-up MR to replace the multi-run GitHub Action with a single-run (as also mentioned in the GHA file itself).

[2022-03-27 21:31] #78 closed

[2022-03-28 14:57] jwerle commented on #121
@Potherca I think we can just have the `get.bpkg.sh` CNAME and domain set for https://github.com/bpkg/bpkg

[2022-03-28 15:16] jwerle commented on #121
@Potherca actually it won't be that simple :(

[2022-03-28 20:13] #121 closed

[2022-03-29 06:30] francescobianco opened #145 "Install a specific version"
At this moment the file 'setup.sh' is not related to a specific tag/version. As a result of this, both the following, install the same version (master in the case)

[code]

[code]

This is because the line used to clone is pointing to master in all cases

https://github.com/bpkg/bpkg/blob/master/setup.sh#L51

I suggest to amends all TAGS in a way to have all setup.sh able to point to the proper ve

[2022-03-29 12:03] jwerle commented on #145
that sounds good to me!

[2022-03-30 11:36] thackel opened #146 "bpkg-env is missing and bpkg is not starting"
The latest change (c5ecb73298a2887a7842bc7ffafff230c092a53e) broke bpkg in our environment.
It complains about a not existing `bpkg-env` file.
The setup-script runs without a problem.
Its not possible to stick to a version before (see #145) so the script installs always the most recent one and the issue can't be avoided.

For now we just place an empty `bpkg-env` file in `/usr/local/bin/` which ma

[2022-03-30 13:24] jwerle commented on #146
@thackel Thanks for opening this issue. Can you let us know how you are invoking the setup script?

[2022-03-30 16:18] jwerle commented on #145
@francescobianco i've used this script https://gist.github.com/jwerle/5f937115818b76712efca575c73b8a9f to do this

You can now do:

[code]
or

[code]

[2022-03-30 16:19] jwerle commented on #146
This is now fixed.
See https://github.com/bpkg/bpkg/issues/145#issuecomment-1083348701

[2022-03-30 23:30] jwerle commented on #131
we now have this!

[2022-03-30 23:30] #131 closed

[2022-03-31 04:07] JoeyLi-1 opened #147 "1.0.20 cause install command hung there"
Hi there,

We just encounter this issue 5 hours ago.
We run command "
curl -Lo- "https://raw.githubusercontent.com/bpkg/bpkg/master/setup.sh" | sudo bash
sudo bpkg install -g sstephenson/bats" on CircleCI. (OS: Ubuntu)
The install command just hung there.

If I revert back to 1.0.16 (curl -Lo- "https://raw.githubusercontent.com/bpkg/bpkg/1.0.16/setup.sh" | sudo bash)
Everything works fine.

Do not

[2022-03-31 08:11] thackel commented on #145
I don't think that this is properly working anymore. The script is no longer on the path.

This will demonstrate it:
`docker run --rm -it centos:7.9.2009 bash -c "yum -y update && yum -y install curl git && curl -Lo- "https://raw.githubusercontent.com/bpkg/bpkg/1.0.15/setup.sh" | bash && bpkg"`

Also older versions (0.3.2, 0.3.1) will not work.

[2022-03-31 08:34] thackel commented on #146
Our workaround is now no longer working after the fix for #145

The `bpkg` script is not longer installed in the path.

[2022-03-31 12:06] jwerle commented on #147
thank you for the report!
fixed in https://github.com/bpkg/bpkg/commit/1b097711a8606e68371cb1860d91e122d6a22c11

[2022-03-31 12:06] #147 closed

[2022-03-31 12:08] jwerle commented on #103
@joeljuca while Homebrew uses `/usr/local` it does not prevent other software from using that directory prefix

[2022-03-31 13:02] Potherca commented on #72
Note to self: We should check which files caused the most issues lately and prioritize those for testing first!

[2022-03-31 13:07] jwerle commented on #145
@Potherca I rewrote the history and fixed it. the `$USER` variable was not available in the `setup.sh` script so I used the `whoami` command instead. I've tested locally with docker and can confirm it works now

[2022-03-31 13:07] #145 closed

[2022-03-31 13:44] Potherca commented on #72
Well, running this:
[code]
The top 5 bash files are:

1. 65 `lib/install/install.sh`
2. 40 `bpkg.sh`
3. 21 `lib/init/init.sh`

 Limited to the last 50 commit, that is:

 1. 22 `lib/install/install.sh`
 2. 12 `lib/init/init.sh`
 3. 10 `lib/show/show.sh`

So I think `lib/install/install.sh`, `bpkg.sh`, `lib/init/init.sh` and `lib/show/show.sh` will have to come first...

[2022-04-01 19:03] jwerle opened #148 "asdf plugin"
It could be nice to support [asdf](https://asdf-vm.com/) with a plugin. We can give `asdf` users the ability to manage versions of `bpkg` on their systems. It looks pretty straightforward: https://github.com/asdf-vm/asdf-plugin-template

[2022-04-01 19:03] jwerle commented on #148
cc @Potherca @francescobianco

[2022-04-02 08:34] Potherca commented on #148
Personally, I don't have the bandwidth to research or implement this but I do think it could be worth the effort.

The more places BPKG is available, the more likely it is to be more widely adapted, I think.

Would #90 have to be done for this, or is `asdf` fine with running BASH?

[2022-04-02 10:02] francescobianco commented on #148
Hi @Potherca @jwerle please let me build as my tangible contribution! I'm able to release it inside april!
Let's choose the name of the repository together. This is my proposal: https://github.com/bpkg/asdf-bpkg

[2022-04-03 12:50] jwerle commented on #148
This sounds good to me!

We're already doing it here: https://github.com/bpkg/macos-virtualbox
https://github.com/bpkg/semver-tool

[2022-05-04 22:34] albertoEnstein opened #149 "GitHub iphone12"

[2022-05-05 02:52] #149 closed

[2022-05-13 16:01] jwerle commented on #148
this is done!

[2022-05-13 16:01] #148 closed

[2022-06-13 08:45] thackel opened #150 "Branch for old version seem to be missing"
The latest changes either in code or the repository have again made the setup fail.

Pulling and executing `curl -Lo- "https://raw.githubusercontent.com/bpkg/bpkg/0.3.1/setup.sh" | bash`
Raises the following problems (removed just the piping to /dev/null to see the problems):
[code]

The tag "0.3.1" is still existing and a manual checkout works.
I think there is a SPACE/BLANK extracted before the

[2022-06-13 09:35] Potherca commented on #150
I think you are correct. Debugging now...

[2022-06-13 09:39] Potherca commented on #150
The `TAG` definition for the `0.3.1` is broken:

https://github.com/bpkg/bpkg/blob/0.3.1/setup.sh#L12

[code]

That should be:

[code]

Patching now.

[2022-06-13 10:29] jwerle commented on #150
fixed in https://github.com/bpkg/bpkg/commit/7f3aa1f5e7c4774f484005d6b3c4b5875cfd822f

[2022-06-13 10:29] #150 closed

[2022-06-13 10:29] jwerle commented on #150
I am going to setup an action that will test every version so things like this can be caught

[2022-06-13 10:35] Potherca commented on #150
@jwerle I left a debugging comment at [the `file-fix-tag-history.sh` gist](https://gist.github.com/jwerle/5f937115818b76712efca575c73b8a9f) that could be relevant. Could you check?

[2022-06-13 10:54] jwerle commented on #150
I am hoping https://github.com/bpkg/bpkg/commit/7f3aa1f5e7c4774f484005d6b3c4b5875cfd822f#diff-1926f3667e08c763d9912b76e8990bb45ee98cc5aaf101eacd130e546bb1e78dR17 fixes that

CI tests coming soon for full verification so this never happens again 😓

[2022-06-13 11:10] jwerle commented on #150
okay I hope https://github.com/bpkg/bpkg/pull/151 fixes this

[2022-06-13 19:45] thackel commented on #150
Thanks for the quick reaction, it's working again!

[2022-06-13 20:34] jwerle commented on #150
thanks for letting us know!